
<!-- footer section start-->

<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>Locations</h3>
      <a href="#">USA</a>
      <a href="#">Canda</a>
      <a href="#">Mexico</a>
      <a href="#">Brazil</a>
    </div>

    <div class="box">
      <h3>Quick links</h3>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">posts</a>
      <a href="#">myPosts</a>
    </div>

    <div class="box">
      <h3>Contact info</h3>
      <a href="#">000-000-0000</a>
      <a href="#">111-111-1111</a>
      <a href="#">fbaefeue@gmail.com</a>
      <a href="#">hwuhhwdqw@gmail.com</a>
    </div>

    <div class="box">
      <h3>Follow us</h3>
      <a href="#">facebook</a>
      <a href="#">instagram</a>
      <a href="#">youtube</a>
      <a href="#">twitter</a>
    </div>
  </div>
  <div class="credit">copyright @ 2023 by <span>Ahmad Ismael, Jonathan pires, Wylie troy</span></div>
</section>
<script>
    let menu = document.querySelector("#menu-bars");
    let navbar = document.querySelector(".navbar");

    menu.onclick = () => {
      menu.classList.toggle("fa-times");
      navbar.classList.toggle("active");
      };

    let section = document.querySelectorAll("section");
    let navLinks = document.querySelectorAll("header .navbar a");

    window.onscroll = () => {
      menu.classList.remove("fa-times");
      navbar.classList.remove("active");

    section.forEach((sec) => {
      let top = window.scrollY;
      let height = sec.offsetHeight;
      let offset = sec.offsetTop - 150;
      let id = sec.getAttribute("id");

      if (top >= offset && top < offset + height) {
        navLinks.forEach((links) => {
        links.classList.remove("active");
        document
          .querySelector("header .navbar a[href*=" + id + "]")
          .classList.add("active");
      });
    }
  });
};


document.querySelector("#search-icons").onclick = () => {
  document.querySelector("#search-form").classList.toggle("active");
};

document.querySelector("#close").onclick = () => {
  document.querySelector("#search-form").classList.remove("active");
};






</script>
</body>
</html>