<%- include('./partials/headAndNav',{user:user}) %>


<body>
    <div id="data">
        <h1>Trending Stocks</h1>
        <pre id="jsonData"></pre>
      </div>

      
      
    <script>
    const options = {
    method: 'GET',
    headers: {
        'X-RapidAPI-Key': '7ab49f2cf4mshccb10468dd306b3p1ac0f5jsnbfb533903b7f',
        'X-RapidAPI-Host': 'yahoo-finance15.p.rapidapi.com'
    }
};

fetch('https://yahoo-finance15.p.rapidapi.com/api/yahoo/tr/trending', options)
        .then(response => response.json())
        .then(response => {
          const jsonData = document.getElementById('jsonData');
          jsonData.innerHTML = JSON.stringify(response, null, 10);

        })
        .catch(err => console.error(err));




    </script>
           
      
</body>
<%- include('./partials/footer') %>