<%- include('./partials/headAndNav',{user:user}) %>


<body>
  <h1 class="home-ejs">Stocks</h1>
  <div>

    <div class="card">
      <img src="https://www.thecoinrepublic.com/wp-content/uploads/2022/10/apple-stock-p.jpg" alt="Stock 1 Image" >
      <div class="card-body">
        <p class="card-title"> AAPL</p>
        <p class="card-title">Current Price: $145.00</p>
        <p class="card-title">Market Cap: $2.4 trillion</p>
      </div>
      </div>
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7sd-cIVoWyETIpGbZLAmHV_ZffVNnwdArq4l-XZk7spXI8Rf-dq24MvjQFySIzfBxtP4&usqp=CAU" alt="Stock 2 Image" >
      <div class="card-body">
        <p class="card-title"> AMZN</p>
        <p class="card-title">Current Price: $98.86</p>
        <p class="card-title">Market Cap: $1.01 trillion</p>
      </div>
    </div>
    <div class="card">
      <img src="https://st4.depositphotos.com/21607914/23432/i/450/depositphotos_234323564-stock-photo-chinese-netizen-looks-logo-google.jpg" alt="Stock 3 Image" >
      <div class="card-body">
        
        <p class="card-title"> GOOGL</p>
        <p class="card-title">Current Price: $102</p>
        <p class="card-title">Market Cap: $1.31 trillion</p>
      </div>
    </div>
    <div class="card">
      <img src="https://finbold.com/app/uploads/2023/02/We-asked-ChatGPT-what-will-be-Tesla-TSLA-price-in-2030.jpg" alt="Stock 4 Image" >
      <div class="card-body">
        <p class="card-title"> TSLA</p>
        <p class="card-title">Current Price: $18</p>
        <p class="card-title">Market Cap: $570 billion</p>
      </div>
    </div>
    <div class="card">
      <img src="https://finbold.com/app/uploads/2022/07/Analyst-says-those-who-like-Meta-should-buy-Meta-stock.jpg" alt="Stock 5 Image" >
      <div class="card-body">
        <p class="card-title"> META</p>
        <p class="card-title">Current Price: $198</p>
        <p class="card-title">Market Cap: $512 billion</p>
      </div>
    </div>
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpM2H8dzLbPa0ba01QvbEQYanQJWZA5qejjoZm52tsFHnWKrc59I5N7onuZqOd-UsjYrA&usqp=CAU" alt="Stock 6 Image" >
      <div class="card-body">
        <p class="card-title"> NVDA</p>
        <p class="card-title">Current Price: $260</p>
        <p class="card-title">Market Cap: $641. billion</p>
      </div>
    </div>
  </div>
</body>
<%- include('./partials/footer') %>