<%- include('../partials/headAndNav') %>
<div>
    <Form class="form" method="POST" action="/posts/newPost">
        <div>
            <label for="username">Enter username</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="compName">Enter compName</label>
            <input type="text" name="compName" id="compName">
        </div>
        <div>
            <label for="industry">What industry?</label>
            <input type="text" name="industry" id="industry">
        </div>
        <div>
            <label for="upDown">bullish or bearish</label>
            <input type="text" name="upDown" id="upDown">
        </div>
        <div>
            <label for="prediction">Price prediction</label>
            <input type="text" name="prediction" id="prediction">
        </div>
        <input type="submit" value="Submit new post">
    </Form>

</div>
<%- include('../partials/footer') %>